streamlit==1.43.2
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
matplotlib==3.7.3
numpy==1.26.4
scipy==1.11.4
pandas==2.2.3
scikit-learn==1.3.2
tqdm==4.66.2
pillow==11.1.0
requests==2.32.3
pyyaml==6.0.2
fastcore==1.5.29
fastai==2.7.12
